.anhnenhappy{
    color: red;
    font-size: 1.5vw;
    margin-top: 47vw;
    margin-left: 32vw;
}
#meocon{
    width: 50vw;
    height: 50vh;
}
#audio{
    color: purple;
    font-size: 300px;
    background-color: white;
}
.box{
    margin-top: 47vw;
    margin-left: 31vw;
}
.anhdong{
    margin-left: 4vw;
}
.cay{
   
    margin-left:  1vw;
    margin-top: -4vw;
}
.tratranh{
    
    margin-top: -3vw;
}
.test {
    background:white;
    font-size:24px;
    font-weight:bold;
    -webkit-animation: my 1500ms infinite;
    -moz-animation: my 150ms infinite; 
    -o-animation: my 1500ms infinite; 
    animation: my 1500ms infinite;
}
@-webkit-keyframes my {
    0% { color: red; } 
    50% { color: white;  } 
    100% { color: red;  } 
}
@-moz-keyframes my { 
    0% { color: red;  } 
    50% { color: white;  }
    100% { color: red;  } 
}
@-o-keyframes my { 
    0% { color: red; } 
    50% { color: #fff; } 
    100% { color: red;  } 
}
@keyframes my { 
    0% { color: red;  } 
    50% { color: white;  }
    100% { color: red;  } 
} 
#tinhhuong{
    font-size: 2vw;
    margin-top: 3vw;
    color: purple;

}
.anhnen{
    font-size: 1vw;
}